---

import './style.sass';

type Image = {
    link: string
    src: string
};

type Props = {
    className?: string,
    tickerLiElement: Image[],
};

const { className, tickerLiElement } = Astro.props;

---

<div id="ticker-container" class={`${className} my-reel`}>
    {
        <ul class={'ticker text-js  my-reel-wrap'}>
            {tickerLiElement.map((image) => {
                return (
                    <li class="ticker__li my-reel-item">
                        <a href={image.link} target="_blank">
                            <img src={image.src} alt="logo"/>
                        </a>
                    </li>
                );
            })}
        </ul>
    }
</div>


<script src="./script.ts"></script>
