---

import './style.sass';

type Props = {
    className?: string,
    tickerLiElement: any[],
};

const { className, tickerLiElement } = Astro.props;

---



<div id="ticker-container" class={`${className} my-reel`}>
    {
        <ul class={'ticker text-js  my-reel-wrap'}>
            {tickerLiElement.map((imgSrc) => {
                return (
                    <li class="ticker__li my-reel-item">
                        <img src={imgSrc} alt="logo"/>
                    </li>
                );
            })}
        </ul>
    }
</div>


<script src="./script.ts"></script>
