.solution-section
    margin-top: gem(103)
    padding-bottom: gem(60)
    &-title
        display: flex
        flex-direction: column
        gap: gem(18)
    &__title-wrap
        display: flex
        justify-content: space-between
        padding-bottom: gem(172)
    &-description
        width: gem(360)
    .solution
        &-list
            // height: 3600px
        &-item
            display: flex
            justify-content: space-between
            position: relative
            padding-bottom: gem(112)
            gap: gem(120)
            &__card
                flex: none
                padding: 0 gem(38)
                padding-top: gem(35)
                min-height: gem(632)
                width: gem(384)
                height: 100%
                border-radius: gem(28)
                position: relative
                &-bg
                    position: absolute
                    z-index: 1
                    top: gem(25)
                    left: 0
                    width: 100%
                    height: 100%
                &-description
                    margin-top: gem(23)
                    width: gem(330)
                &-visual
                    width: gem(246)
                    height: gem(264)
                    margin: 0 auto
                    margin-top: gem(15)
                    &.tablet
                        display: none
                    img
                        width: 100%
                        display: block
                        object-fit: cover
                &-btn
                    margin-top: gem(20)
                    display: flex
                    gap: gem(11)
                    justify-content: center
            &__futures
                height: 100%
                min-height: gem(360)
            &.lend
                z-index: 1
                .solution-item__card
                    border: 1px solid #AFC6D0
                    background: #D7E4EA
            &.borrow
                z-index: 2
                .solution-item__card
                    border: 1px solid #C8C6D7
                    background: #DCDFE7
                .solution-item__futures
                    opacity: 0
            &.curate
                z-index: 3
                .solution-item__card
                    border: 1px solid #BCC8C0
                    background: #D0DED4
                .solution-item__futures
                    opacity: 0
    .futures-list
        display: grid
        grid-template-columns: repeat(2, 1fr)
        gap: gem(95) gem(70)
        margin-top: gem(87)
        &__item
            display: flex
            flex-direction: column
            gap: gem(29)

@media (max-width: 1024px)
    .solution-section
        .solution-item__card-bg
            top: gem(-150)
            left: gem(370)
            width: 50%
        &__title-wrap
            padding-bottom: gem(130)
        .solution-item
            flex-direction: column
            align-items: center
            padding-bottom: gem(122)
            gap: gem(35)
            &.borrow,
            &.lend,
            &.curate
                .solution-item__futures
                    opacity: 1
            &__card
                padding: gem(50) gem(47) gem(41) gem(60)
                width: gem(736)
                height: max-content
                display: flex
                min-height: auto
                justify-content: space-between
                &-btn
                    margin-top: gem(35)
                    justify-content: flex-start
                &-visual
                    &.desktop-mobile
                        display: none
                    &.tablet
                        display: block

        .futures-list
            width: gem(630)
            gap: gem(95) gem(130)

@media (max-width: 480px)

    .solution-section__title-wrap
        padding: 0 gem(25) gem(57)
        flex-direction: column
        gap: gem(30)
    .solution-section .solution-item
        padding-bottom: gem(60)
    .solution-section-description
        width: gem(300)
    .solution-section .futures-list__item
        gap: gem(20)
    .solution-section
        padding-bottom: gem(33)
        margin-top: gem(93)
        .solution-item__card-bg
            top: gem(50)
            left: gem(0)
            width: 100%
        .solution-item__card
            padding: gem(35) gem(24) gem(30) gem(25)
            width: 100%
            flex-direction: column
            &-btn
                margin-top: gem(25)
            &-description
                width: 100%
                .desc-2
                    font-size: gem(13)
                    line-height: gem(25)
        .solution-item__card-visual.tablet
            display: none
        .solution-item__card-visual.desktop-mobile
            display: block
        .futures-list
            margin-top: gem(17)
            width: 100%
            padding: 0 gem(25)
            grid-template-columns: repeat(1, 1fr)
            gap: gem(35) gem(0)