---

type Props = {
    parentId: string;
    index: string;
    label: string;
    value: string;

};

const { parentId, index, label, value } = Astro.props;

---

<div class={`info-item content-item-${index}`} data-id={parentId+'-'+label.toLowerCase()}>
    <div class="info-item__label">
        <p class="desc-4">{label}</p>
    </div>
    <div class="info-item__value">
        <p class="title-h3">{value}</p>
    </div>
</div>

