---

type Props = {


};

const {  } = Astro.props;

---

<div class="toggle-switch">
    <button class="toggle-button active" data-id="0">
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_495_103472)">
<path d="M21.748 11C21.748 16.799 17.0471 21.5 11.248 21.5C5.44906 21.5 0.748047 16.799 0.748047 11C0.748047 5.20101 5.44906 0.5 11.248 0.5C17.0471 0.5 21.748 5.20101 21.748 11Z" fill="#70B19E"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M11.248 20.9324C16.7336 20.9324 21.1805 16.4855 21.1805 11C21.1805 5.51447 16.7336 1.06757 11.248 1.06757C5.76252 1.06757 1.31561 5.51447 1.31561 11C1.31561 16.4855 5.76252 20.9324 11.248 20.9324ZM11.248 21.5C17.0471 21.5 21.748 16.799 21.748 11C21.748 5.20101 17.0471 0.5 11.248 0.5C5.44906 0.5 0.748047 5.20101 0.748047 11C0.748047 16.799 5.44906 21.5 11.248 21.5Z" fill="#48685A"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M11.2461 19.8938C16.1583 19.8938 20.1404 15.9117 20.1404 10.9996C20.1404 6.08735 16.1583 2.10525 11.2461 2.10525C6.33394 2.10525 2.35183 6.08735 2.35183 10.9996C2.35183 15.9117 6.33394 19.8938 11.2461 19.8938ZM11.2461 20.4752C16.4793 20.4752 20.7217 16.2328 20.7217 10.9996C20.7217 5.7663 16.4793 1.52393 11.2461 1.52393C6.01288 1.52393 1.77051 5.7663 1.77051 10.9996C1.77051 16.2328 6.01288 20.4752 11.2461 20.4752Z" fill="#74FBC9"/>
<path d="M20.3198 11.0417C20.3198 16.0288 16.2769 20.0717 11.2898 20.0717C6.30264 20.0717 2.25977 16.0288 2.25977 11.0417C2.25977 6.05458 6.30264 2.01172 11.2898 2.01172C16.2769 2.01172 20.3198 6.05458 20.3198 11.0417Z" fill="#2C4739"/>
<path d="M10.7477 5.10986H11.6702V16.3781H10.7477V5.10986ZM8.85471 12.9314C8.91834 13.1789 9.0456 13.4086 9.23649 13.6207C9.43795 13.8329 9.70836 14.0052 10.0477 14.1377C10.3871 14.2703 10.806 14.3366 11.3044 14.3366C12.0466 14.3366 12.5928 14.1952 12.9427 13.9124C13.3033 13.6207 13.4836 13.2805 13.4836 12.8916C13.4836 12.5734 13.3722 12.3128 13.1496 12.1095C12.9375 11.8974 12.6405 11.7206 12.2587 11.5792C11.8876 11.4289 11.4582 11.2964 10.9703 11.1815C10.5461 11.0754 10.1272 10.965 9.71369 10.85C9.3107 10.7263 8.94487 10.5761 8.61615 10.3993C8.28736 10.2137 8.02759 9.97952 7.8367 9.69672C7.64582 9.4051 7.55038 9.04271 7.55038 8.60969C7.55038 8.07055 7.70415 7.60659 8.0117 7.2177C8.31921 6.82883 8.74866 6.53276 9.30012 6.32949C9.86215 6.11738 10.509 6.01133 11.2407 6.01133C11.8558 6.01133 12.4072 6.08645 12.895 6.2367C13.3828 6.3781 13.7911 6.58579 14.1198 6.85977C14.4592 7.1249 14.7084 7.44749 14.8674 7.82751L13.42 8.26501C13.3563 8.07055 13.2238 7.88939 13.0223 7.72146C12.8208 7.54471 12.5663 7.40329 12.2587 7.29724C11.9512 7.19119 11.6066 7.13816 11.2248 7.13816C10.8325 7.12932 10.4772 7.18235 10.1591 7.29724C9.85158 7.40329 9.60231 7.55794 9.41149 7.76122C9.23117 7.9645 9.14108 8.20754 9.14108 8.49034C9.14108 8.79967 9.24706 9.04271 9.45916 9.21946C9.67126 9.39621 9.95231 9.54209 10.3022 9.65696C10.6628 9.77183 11.0552 9.88229 11.4794 9.98834C11.9247 10.1033 12.3595 10.227 12.7837 10.3595C13.2079 10.4921 13.5897 10.6601 13.9289 10.8633C14.2789 11.0666 14.5599 11.3229 14.772 11.6322C14.9841 11.9327 15.0902 12.3128 15.0902 12.7723C15.0902 13.2672 14.9523 13.7179 14.6765 14.1245C14.4009 14.5311 13.982 14.858 13.42 15.1055C12.8685 15.353 12.1739 15.4767 11.3361 15.4767C10.6469 15.4767 10.0265 15.3883 9.47512 15.2115C8.92366 15.0348 8.46768 14.7917 8.10711 14.4824C7.75718 14.1643 7.52387 13.7975 7.40723 13.3821L8.85471 12.9314Z" fill="#F1F3ED"/>
</g>
<defs>
<clipPath id="clip0_495_103472">
<rect width="21" height="21" fill="white" transform="translate(0.749023 0.5)"/>
</clipPath>
</defs>
</svg>


        <span class="desc-4">USP</span>
    </button>
    <button class="toggle-button" data-id="1">
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_495_103478)">
<path d="M21.748 11C21.748 16.799 17.0471 21.5 11.248 21.5C5.44906 21.5 0.748047 16.799 0.748047 11C0.748047 5.20101 5.44906 0.5 11.248 0.5C17.0471 0.5 21.748 5.20101 21.748 11Z" fill="#48685A"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M11.248 20.9324C16.7336 20.9324 21.1805 16.4855 21.1805 11C21.1805 5.51447 16.7336 1.06757 11.248 1.06757C5.76252 1.06757 1.31561 5.51447 1.31561 11C1.31561 16.4855 5.76252 20.9324 11.248 20.9324ZM11.248 21.5C17.0471 21.5 21.748 16.799 21.748 11C21.748 5.20101 17.0471 0.5 11.248 0.5C5.44906 0.5 0.748047 5.20101 0.748047 11C0.748047 16.799 5.44906 21.5 11.248 21.5Z" fill="#2C4739"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M11.2461 19.8938C16.1583 19.8938 20.1404 15.9117 20.1404 10.9996C20.1404 6.08735 16.1583 2.10525 11.2461 2.10525C6.33394 2.10525 2.35183 6.08735 2.35183 10.9996C2.35183 15.9117 6.33394 19.8938 11.2461 19.8938ZM11.2461 20.4752C16.4793 20.4752 20.7217 16.2328 20.7217 10.9996C20.7217 5.7663 16.4793 1.52393 11.2461 1.52393C6.01288 1.52393 1.77051 5.7663 1.77051 10.9996C1.77051 16.2328 6.01288 20.4752 11.2461 20.4752Z" fill="#74FBC9"/>
<path d="M20.3198 11.0417C20.3198 16.0288 16.2769 20.0717 11.2898 20.0717C6.30264 20.0717 2.25977 16.0288 2.25977 11.0417C2.25977 6.05458 6.30264 2.01172 11.2898 2.01172C16.2769 2.01172 20.3198 6.05458 20.3198 11.0417Z" fill="#F1F3ED"/>
<path d="M10.7477 5.10986H11.6702V16.3781H10.7477V5.10986ZM8.85471 12.9314C8.91834 13.1789 9.0456 13.4086 9.23649 13.6207C9.43795 13.8329 9.70836 14.0052 10.0477 14.1377C10.3871 14.2703 10.806 14.3366 11.3044 14.3366C12.0466 14.3366 12.5928 14.1952 12.9427 13.9124C13.3033 13.6207 13.4836 13.2805 13.4836 12.8916C13.4836 12.5734 13.3722 12.3128 13.1496 12.1095C12.9375 11.8974 12.6405 11.7206 12.2587 11.5792C11.8876 11.4289 11.4582 11.2964 10.9703 11.1815C10.5461 11.0754 10.1272 10.965 9.71369 10.85C9.3107 10.7263 8.94487 10.5761 8.61615 10.3993C8.28736 10.2137 8.02759 9.97952 7.8367 9.69672C7.64582 9.4051 7.55038 9.04271 7.55038 8.60969C7.55038 8.07055 7.70415 7.60659 8.0117 7.2177C8.31921 6.82883 8.74866 6.53276 9.30012 6.32949C9.86215 6.11738 10.509 6.01133 11.2407 6.01133C11.8558 6.01133 12.4072 6.08645 12.895 6.2367C13.3828 6.3781 13.7911 6.58579 14.1198 6.85977C14.4592 7.1249 14.7084 7.44749 14.8674 7.82751L13.42 8.26501C13.3563 8.07055 13.2238 7.88939 13.0223 7.72146C12.8208 7.54471 12.5663 7.40329 12.2587 7.29724C11.9512 7.19119 11.6066 7.13816 11.2248 7.13816C10.8325 7.12932 10.4772 7.18235 10.1591 7.29724C9.85158 7.40329 9.60231 7.55794 9.41149 7.76122C9.23117 7.9645 9.14108 8.20754 9.14108 8.49034C9.14108 8.79967 9.24706 9.04271 9.45916 9.21946C9.67126 9.39621 9.95231 9.54209 10.3022 9.65696C10.6628 9.77183 11.0552 9.88229 11.4794 9.98834C11.9247 10.1033 12.3595 10.227 12.7837 10.3595C13.2079 10.4921 13.5897 10.6601 13.9289 10.8633C14.2789 11.0666 14.5599 11.3229 14.772 11.6322C14.9841 11.9327 15.0902 12.3128 15.0902 12.7723C15.0902 13.2672 14.9523 13.7179 14.6765 14.1245C14.4009 14.5311 13.982 14.858 13.42 15.1055C12.8685 15.353 12.1739 15.4767 11.3361 15.4767C10.6469 15.4767 10.0265 15.3883 9.47512 15.2115C8.92366 15.0348 8.46768 14.7917 8.10711 14.4824C7.75718 14.1643 7.52387 13.7975 7.40723 13.3821L8.85471 12.9314Z" fill="#2C4739"/>
</g>
<defs>
<clipPath id="clip0_495_103478">
<rect width="21" height="21" fill="white" transform="translate(0.749023 0.5)"/>
</clipPath>
</defs>
</svg>


        <span class="desc-4">sUSP</span>
    </button>
    <div class="toggle-slider"></div>
</div>
