---
import './style.sass';

import Section from 'layouts/section.astro';
import FormComponent from 'components/common/formComponent/view.astro';

type SectionCopyright = {
    subTitle: string,
    title: string,
    description: string,
};

type Props = {
    id: string,
    COPY: SectionCopyright,
};

const { COPY, id } = Astro.props;

---

<Section className="get-in-touch" id={id}>
    <div class="container container-big">
        <div class="title-wrap">
            <span class="desc-4 teal up-text">{COPY.subTitle}</span>
            <h2 class="title-h2 emerald">{COPY.title}</h2>
            <p class="desc-2 emerald description">{COPY.description}</p>
        </div>
        <div class="form-container">
            <FormComponent/>
        </div>
    </div>
</Section>

<script src="./script.ts"></script>
