@font-face {
  font-family: "GT-America-Mono-Regular";
  src: url("/src/assets/fonts/GT-America-Mono-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "GT-Sectra-Fine-Regular";
  src: url("/src/assets/fonts/GT-Sectra-Fine-Regular.woff2") format("woff2");
  font-weight: 500;
}
