---
import { CommonComponents } from '../commonTypes';
import './style.sass';
import spinnerImg from 'assets/img/preloader_v.png?url';

---

<div class="preloader" id={CommonComponents.Preloader}>
    <img src={spinnerImg} alt="spinner" class="spinner-image" />
</div>

<script src="./script.ts"></script>
