.ecosystem-section
    padding-top: gem(197)
    padding-bottom: gem(103)
    .container
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        gap: gem(106)
    .title-wrap
        width: gem(486)
        display: flex
        flex-direction: column
        align-items: center
        gap: gem(20)
        text-align: center
    &__line
        display: flex
@media (max-width: 1024px)
    .ecosystem-section
        padding-top: gem(130)
        padding-bottom: gem(25)
        .container
            gap: gem(86)
@media (max-width: 480px)
    .ecosystem-section
        .title-wrap
            width: 100%