---
import './style.sass';

import Section from 'layouts/section.astro';
import visual from 'assets/img/404/404-bg.png?url';
import visualTablet from 'assets/img/404/404-bg-tablet.png?url';

---

<Section className="page-404__section" id="page-404">
    <div class="container">
        <div class="left-wrap">
            <div class="title-wrap">
                <h2 class="title-h2 emerald">404</h2>
                <p class="title-h3 emerald">Something went wrong</p>
            </div>
            <ul class="menu-list">
                <li class="menu-list__item">
                    <a href="/" class="nav up-text emerald">Home</a>
                </li>
                <li class="menu-list__item">
                    <a href="/" class="nav up-text emerald">Product</a>
                </li>
                <li class="menu-list__item">
                    <a href="/" class="nav up-text emerald">Features</a>
                </li>
                <li class="menu-list__item">
                    <a href="/" class="nav up-text emerald">Partners</a>
                </li>
            </ul>
        </div>
        <div class="visual">
            <img src={visual} alt="404-visual" class="desktop">
            <img src={visualTablet} alt="404-visual-tablet" class="tablet">
        </div>
    </div>
</Section>
